/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

/* generale */

.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
nav ul li{
    display: inline-block;
    
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding:  20px;
}
.bottone{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    color:black;
}
img{
    width: 100%;
    
    display: block;
    max-width: 200px;
}
    

.bg-color{
    background-color: #b5ddff;
}
.violet{
    background-color: #9593e6;
}
/* header */
header section{
   background-color: #0084fd;
}
.container .bar-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.bar-nav nav{
    display: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: 20px;
}
.col-100{
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

/* main */

.card-dim{
    text-align: center;
    padding: 20px;
}
.card-dim i,
.card-dim h3{
    color: #0084fd;
    margin-bottom: 15px;
}
.col-50{
    width: 50%;

}
.testimonials{
    text-align: center;
    padding: 20px;
}
.dimensionamento-card-t{
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.dimensionamento-card-t > div{
    padding-right: 20px;
}
.dimensionamento-card-t > div:last-of-type{
    padding-top: 50px;
}
.dimensionamento-card-t > div:last-of-type > *{
    font-size:  1.5em;
}
.dimensionamento-card-t > div > img{
    width: 100%;
    width: 200px;
    height: 200px ;
    border-radius: 50%;
    object-fit: cover;
}

/* footer */

/* responsive */
/* tablet */
@media screen and (min-width: 768px) {

    .col-1-3{
        width: calc((100% / 3)  - 20px);
    }

    .col-2-3{
        width: calc(((100% / 3) * 2) - 20px );
    }
    
}
/* destop */
@media screen and (min-width: 992px) {
    .bar-nav nav{
        display: block;
    }


    .bar-nav .menu{
        display: none;
    }
    .card{
        display: flex;
        padding: 15px 15px 0 15px;
    }
    .card-right img{
        max-width: 400px;
    }
}